.nowrap {
  white-space: nowrap !important;
  & > div {
    display: inline;
  }
}

.cut-too-long {
  display: block;
  width: 30rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
