@import '~semantic-ui-css/semantic.min.css';
@import '~react-semantic-toasts/styles/react-semantic-alert.css';

$red-dark: #912d2b;
@mixin border-error {
  box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
}

@import './styles/form.scss';

#root {
  height: 100%;
}